*.c~

# Prerequisites
*.d

# Object files
*.o

# Libraries
*.lib
*.a

# Executables
minishell

# Debug files
*.dSYM/

# macOS specific
.DS_Store

# Test files
test.c
kabeuchi.c
test.txt
minishell_tester/
a.out
test/logs
unit_test/
test*
