*.c~

# Prerequisites
*.d

# Object files
*.o

# Libraries
*.lib
*.a

# Executables
minishell

# Debug files
*.dSYM/

# __APPLE__ specific
.DS_Store

# Test files
test.c
kabeuchi.c
test.txt
a.out
test/logs
tests/
test*
!test_from_cunh
42_minishell_tester/
minishell_tester*
.cache/
trash/

minishell_tester-nda-cunh
obj/.builddir_ready
file_out
srcs/parser/heredoc_noninteractive.c
docs/phase40_analysis.md
